*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background: linear-gradient(150deg,green,blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: #ffff;
    width: 380px;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.api_body {
    background: white;
    min-height: 120px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 19px;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

#fetch_joke {
    background: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#fetch_joke:hover {
    background: green;
    transform: scale(1.15);
}